NEXT_PUBLIC_SUPABASE_URL=https://laavusukzryrplydrkxa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
APP_ADMIN_PIN=
APP_SESSION_SECRET=
META_ACCESS_TOKEN=
META_WABA_PHONE_NUMBER_ID=
META_WABA_ID=
META_VERIFY_TOKEN=
