<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>
        <rule name="NextNodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <iisnode devErrorsEnabled="true" />
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\seat4bus.com\tmp" />
  </system.web>
</configuration>
